html, body, #svg-container > svg {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#svg-container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#svg-container > svg, .ship-shape-svg {
  stroke: white;
  stroke-width: 1.41; /* sqrt(2) */
  fill: none;
}

#chat {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  font-family: serif;
  text-align: center;
}

#chat-history {
  overflow-y: scroll;
  overflow-x: hidden;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  text-align: left;
  width: 40em;
  height: 20ex;
  margin-left: auto;
  margin-right: auto;
}

.speaker {
  font-weight: bold;
}

#chat-input {
  display: none;
  border: 1px solid white;
  background-color: black;
  color: inherit;
  font-family: inherit;
  text-align: left;
}

#controls {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.controls button {
  pointer-events: auto;
  background-color: #fe3a27;
  border: 1px solid white;
  color: white;
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  padding-left: 1ex;
  padding-right: 1ex;
  margin: 1ex;
  /* use not so large buttons when using a mouse */
  font-size: large;
  min-width: 0.4in;
  min-height: 0.4in;
}

/* use large buttons on touchscreen */
@media (-moz-touch-enabled: 1), (pointer: coarse) {
  .controls button {
    font-size: xx-large;
    min-width: 0.6in;
    min-height: 0.6in;
  }
}

.controls button > * {
  filter: drop-shadow(2px 2px black);
}

.controls button:active {
  background-color: black;
}

#welcome {
  position: absolute;
  width: 84%;
  top: 8%;
  bottom: 8%;
  left: 8%;
  right: 8%;
  padding-top: 1em;
  background-color: #4e7cfe;
  color: white;
}

#menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddd;
  color: black;
  font-size: xx-large;
  font-family: serif;
  font-style: italic;
  font-weight: bold;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu li {
  padding-left: 1ex;
  padding-right: 1ex;
  min-width: 0.6in;
  min-height: 0.6in;
  background: linear-gradient(#ddd, #777);
}

#menu li:hover {
  background: linear-gradient(#4e7cfe, #273c7f);
  color: white;
}

#menu li:hover > * {
  filter: drop-shadow(2px 2px black);
}

#invite {
  display: none;
  position: absolute;
  width: 84%;
  top: 8%;
  left: 8%;
  right: 8%;
  background-color: white;
  color: black;
  text-align: center;
}

#invite-inner {
  margin: 1em;
}

#invite-svg {
  display: inline-block;
  max-width: 1in;
  max-height: 1in;
  margin: 0.2in;
}

#invite-url {
  text-align: center;
  font-family: monospace;
  font-size: small;
  margin: 1em;
}

#error-popup {
  display: none;
  position: absolute;
  width: calc(80% - 4ex);
  top: 10%;
  left: 10%;
  right: 10%;
  background-color: yellow;
  color: black;
  padding: 1ex;
  border: 1ex dashed red;
}

#error-messages {
  overflow: auto;
}

.id-svg {
  width: 64px;
  height: 64px;
  float: left;
  margin: 1em;
}

#id {
  font-family: monospace;
}

.ship-shape-svg {
  vertical-align: middle;
}

#export-profile-link {
  display: none;
}

#ice-servers {
  width: 100%;
  height: 12em;
}

input[type="url"] {
  width: 80%;
}

h1 {
  margin-top: 0px;
  text-align: center;
  filter: drop-shadow(2px 2px black);
  font-style: italic;
}

.tabs {
  width: 100%;
  height: 84%;
}

.tabs > ul {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  border-bottom: 1px solid black;
  height: calc(2em + 1px);
  width: 100%;
  line-height: 2em;
}

.tabs > ul > li {
  display: inline;
  border: 1px solid black;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /* border-collapse only works with table display, and rounded corners don't work with table cells */
  margin-right: -1px;
  background: linear-gradient(#ddd, #777);
}

.tabs > ul > li.selected {
  background: #ddd;
  border-bottom: 1px solid #ddd; /* NOTE: none doesn't work */
}

.tabs > ul > li > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.tab-container {
  display: block;
  padding: 1em;
  overflow: auto;
  max-height: calc(84% - 2em + 1px);
  background-color: #ddd;
  color: black;
  border-bottom: 1px solid black;
}

.tab-container > div {
  display: none;
}

.tab-container > div.selected {
  display: block;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}

td.id {
  font-size: xx-small;
  font-family: monospace;
}

button {
  padding: 0;
}

/* cardinal direction layout table:
 *	.N.W	.N.C	.N.E
 *	.M.W	.M.C	.M.E
 *	.S.W	.S.C	.S.E
 * (M=middle, C=center)
 */

table.layout {
  width: 100%;
  height: 100%;
}

table.layout td, table.layout th {
  border: none;
  padding: 0;
}

tr.N {
  vertical-align: top;
}

tr.M {
  vertical-align: middle;
}

tr.S {
  vertical-align: bottom;
}

td.W {
  text-align: left;
}

td.C {
  text-align: center;
}

td.E {
  text-align: right;
}

.dangerous {
  border: 4px solid #d77;
  margin: 0.5em;
  padding: 0.5em;
}

.dangerous > p {
  margin-top: 0;
}

dt {
  font-weight: bold;
}

#asks {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33%;
  height: 33%;
  overflow-y: scroll;
}

.ask {
  padding: 1ex;
  margin: 1ex;
  border: 1px solid white;
  color: white;
  font-style: italic;
  font-size: small;
  text-align: center;
}

#board-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 33%;
  overflow: auto;
  background-color: #4e7cfe;
}

#board {
  border-collapse: collapse;
  border: none;
  filter: drop-shadow(2px 2px black);
}

#board td, #board th {
  color: white;
  font-family: monospace;
  font-variant: small-caps;
}

#board td {
  border: none;
}

#board th {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
}

td.number {
  text-align: right;
}

tr.spacer {
  height: 1ex;
}
